/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/01/2020, 02:31:37 PM
    Author     : jorge
*/

h1 {
    color:blue;
}

table tr th{
    background: #0099cc;
    font-size: 1.2em;
    color: white;
}

table tr td{
    border: 1px solid #0099cc;
    width: 200px;
}