
i{
    font-size: 1.3em;
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding-left: 10%; border-bottom: 2px solid #ddd;
}

a.categories{
    color: #666;
}

div.search{
    display: block;
    position: relative; 
    margin-left: 30px; 
    width: 40vw;
}

div.search input.form-control.mr-sm-2{
    width: 100%;
    background: #e3f8ff;
}

div.search i.fas.fa-search{
    position: absolute;
    top: 10px;
    right: 10px; 
    z-index: 10;
}

a.my-courses{
    border-left: 1px solid #ddd;
    margin-left: 10px;
    color: #666;
}

i.favoritos{
    color: red;
}

a.notifications{
    color: #666;
    position: relative;
}

a.notifications span{
    display: block;
    position: absolute;
    
    font-size: 0.7em;
    color: white;
    background: red;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    vertical-align: middle;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 17px;
    padding-left: 7px;
    padding-right: 13px;
    left: 50%;
    top: 0px;
    
    box-sizing: border-box;
}

a.profile{
    color: #666;
}