
.logo-container{
    width: 100%;
    padding-left: 10%;
    box-sizing: border-box;
}

img{
    width: 90%;
    height: auto;
    margin: 0px;
    text-align: center;
}

label{
    font-size: 0.9em;
}

span{
    color:red;
    font-size: 0.8em;
    text-align: initial;
    vertical-align: text-top;
}

.btn.btn-primary.btn-registrar{
    background: darkorange;
    border: none;
    width: 100%;
    font-size: 1.1em;
}

